<label for="search">Search</label>
<Input @id="search" @value={{this.searchValue}} @key-up={{action 'handleTyping'}} />

<ul>
  {{#each this.results as |result|}}
    <li class="result">{{result.name}}</li>
  {{/each}}
</ul>