<label for="name-input">Name</label>
<Input type="text" @id="name-input" @class="name" @value={{name}} />
<label for="description-input">Description</label>
<Input type="text" @id="description-input" @class="description" @value={{description}} />
<button {{action "createTestingModel"}}>create</button>