.components-markdown-style {
  font-size: 17px;
  text-align: center;
  background-color: brown;
  color: white;
}

.compact-style {
  display: block;
  text-align: center;
}

.blue {
  background-color: blue;
  font-size: 23px;
}

.blue a {
  color: white !important;
}
